# ---------------------------
# ✅ PYTHON GITIGNORE TEMPLATE
# ---------------------------

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual environments
env/
venv/
ENV/
envs/
.venv/
*.env/
**/texSum/

# pyenv
.python-version

# pipenv / poetry
Pipfile.lock
poetry.lock

# mypy / pytype / pyre
.mypy_cache/
.pytype/
.pyre/
.dmypy.json
dmypy.json
cython_debug/

# Logs and OS junk
*.log
.DS_Store
Thumbs.db

artifacts/*
model_trainer_artifacts/*
TextSum/*